@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --gameHeight: 200px;
    --gameWidth: 600px
}

body{
    text-align: center;
}

#gameCanvas {
    width: var(--gameWidth);
    height: var(--gameHeight);
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

#scoreDisplay {
    font-family: 'VT323', monospace;
    font-size: 32pt;
}

.player {
    width: 34px;
    height: 48px;
    position: absolute;
    top: calc(var(--gameHeight) - 45px);
    left: 80px;
    background-image: url(Images/run.gif);
    image-rendering: pixelated;
}

.jumping{
    animation: jump 0.3s ease;
}
@keyframes jump{
    0%{top: calc(var(--gameHeight) - 45px);}
    20%{top: calc(var(--gameHeight) - 100px);}
    30%{top: calc(var(--gameHeight) - 135px);}
    50%{top: calc(var(--gameHeight) - 150px);}
    70%{top: calc(var(--gameHeight) - 135px);}
    80%{top: calc(var(--gameHeight) - 100px);}
    100%{top: calc(var(--gameHeight) - 45px);}
}

.pear {
    width: 16px;
    height: 30px;
    position: absolute;
    left: -30px;
    background-image: url("Images/Pear.png");
    image-rendering: pixelated;
    
}

.gavel {
    width: 48px;
    height: 31px;
    position: absolute;
    left: -31px;
    background-image: url("Images/Gavel.png");
    image-rendering: pixelated;
}


.movingElement {
    animation: moveAcrossScreen 1s linear;

}

@keyframes moveAcrossScreen {
    0% {
      left: var(--gameWidth);
    }
  
    100% {
      left: -30px;
    }
  }